[user]
	name = Noah Huppert
	email = noahuppert@gmail.com
[alias]
	a = add .
	s = status
	d = diff
	dc = diff --cached
	c = commit -m
	p = push
	pom = push origin master
	pu = pull
[push]
	default = simple
